.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  max-height: 100;
  z-index: 100; 
  background-color: white; 
  padding: 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header h1 {
  min-width: 70%;
}

.header a {
  text-decoration: none;
  color: #fff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
  font-size: 14px;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
  outline: none;
  position: relative;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header a:hover {
  opacity: 0.8;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .header {
    padding: 1rem;
    gap: 10px;
  }
  .header h1 {
    min-width: 40%;
  }
  .header button {
    width: 50vw;
  }
}